:root {
    --primary-color: #2196f3;
    --secundary-color: #757575;
    --tertiary-color: #212121;
    --quaternary-color: #ffffff;
}

ul {
    list-style: none;
}

body {
    font-family: 'Roboto';
}

/* HEADER */

.logo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    text-decoration: none;
    color: var(--primary-color);
    margin-right: 93px;
    padding: 24px 0 25px;
}

.black-studio {
    color: #000;
}

.white-studio {
    color: #fff;
}

.menu {
    list-style: none;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 14px;
    color: var(--tertiary-color);
}

.nav-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
}

.nav-contact-email {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
}

.nav-contact-phone {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
}

.menu a {
    color: var(--tertiary-color); 
	text-decoration: none;
    cursor: pointer;
}

.menu a:hover,
.menu a:focus {
	color: var(--primary-color);
}

.navigation-contact {
    list-style: none;
    font-weight: 500;
    font-size: 14px;
    color: var(--secundary-color);
}

.navigation-contact a {
    text-decoration: none;
    color: var(--secundary-color);
}

.navigation-contact a:hover,
.navigation-contact a:focus {
    color: var(--primary-color);
}

/* Slider */

.dark-bg {
    background: #2f303a;
}

.slider {
}

.slider h1 {
    font-weight: 900;
    font-size: 44px;
    color: var(--quaternary-color);
    background: #2F303A;
}

.slider button {
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    cursor: pointer;
    border-radius: 4px;
    border: none;
    color: var(--quaternary-color);
    background: var(--primary-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/* Articles */

.articles {
}

.articles h3 {
    font-weight: 700;
    font-size: 14px;
    color: var(--tertiary-color);
    text-transform: uppercase;
  }
  
.articles-section p {
    font-size: 14px;
    color: var(--secundary-color);
    letter-spacing: 0.03em;
    line-height: 24px;
}

/* Section - What We Do */

.what-we-do {
    font-family: 'Roboto';
    font-style: normal;
}

.what-we-do-list {
    list-style: none;
}

.what-we-do h2 {
    font-weight: 700;
    font-size: 36px;
    color: var(--tertiary-color);
}

/* Section - Out team */

.our-team-section-bg {
    background: #f5f4fa;
}

.our-team-section {
    font-family: 'Roboto';
    font-style: normal;
}

.our-team-section h2 {
    font-weight: 700;
    font-size: 36px;
    color: var(--tertiary-color);
}

.our-team-section-list {
    list-style: none;
    font-size: 16px;
}

.our-team-section-list h3 {
    font-weight: 500;
    font-size: 16px;
}

.our-team-section-list p {
    font-weight: 400;
    font-size: 16px;
}

/* Section - Portfolio menu */

.portfolio-menu {
    list-style: none;
}

.portfolio-menu a {
    text-decoration: none;
}

.button-portfolio {
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    display: flex;
    align-items: center;
    text-align: center;
    color: var(--tertiary-color);
    cursor: pointer;
    border-radius: 4px;
    border: none;
    background: #F5F4FA;
    box-shadow: none;
    transition-duration: 0.4s;
}
  
.button-portfolio:hover {
    color: var(--quaternary-color);
    background-color: var(--primary-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* Section - Portfolio */

.portfolio {
}

.portfolio-list {
    font-family: 'Roboto';
    font-style: normal;
    line-height: 30px;
    letter-spacing: 0.03em;
    list-style: none;
}

.portfolio-name {
    font-weight: 700;
    font-size: 18px;
    color: var(--tertiary-color);
}

.potfolio-subname {
    font-weight: 400;
    font-size: 16px;
    color: var(--secundary-color);
}

/* Footer */

.footer {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    background: #2F303A;
}

.footer a {
    text-decoration: none;
}

.address {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    text-decoration: none;
}

.footer-adress {
    font-weight: bold;
    color: var(--quaternary-color);
}

.footer-adress a {
    text-decoration: none;
    color: var(--quaternary-color);
}

.footer-contact {
    color: rgba(255, 255, 255, 0.6);
}

.footer-contact a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
}

.footer a:hover,
.footer a:focus {
    color: var(--primary-color);
}